*{
	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
}
body{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: gray;
}
h1{
	text-indent: 50px;
}
p{
	margin: 0 auto;
}
canvas{
	margin-top: 40px;
	background-color: black;
	box-shadow: -20px 10px 20px black;
}
header{
	width: 80%;
	height: 60px;
	background-color: gold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: -20px 10px 20px black;
	border-radius: 10px;
}
#display{
	width: 150px;
	height: 50px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	background-color: #FFC300;	
}
#buttons{
	display: none;
}
@media only screen and (max-width: 980px){
	p{
		font-size: 35px;
	}
	h1{
		font-size: 40px;
	}
	#buttons{
		display: block;
		width: 100%;
		height: 200px;
		margin-top: 20px;
		position: absolute;
	}
	.div1{
		width: 220px;
		height: 60px;
		display: flex;
		margin-left: 20px;
		float: left;
		margin-top: 90px;
		column-gap: 5px;
	}
	.div{
		width: 60px;
		height: 110px;
		margin-top: 60px;
		float: right;
		display: flex;
		flex-wrap: wrap;
		margin-right: 20px;
	}
	button{
		width: 80px;
		height: 80px;
		font-size: 50px;
	}
	#display{
		width: 250px;
	}
}